$navbar-background: #888;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

nav {
  @include flex-center;
  height: 7.5vh;
  select {
    @include flex-center;
    flex-grow: 1;
    height: 100%;
    border-radius: 0;
    border-right: none;
    background-color: $navbar-background;
    text-align: center;
    font-size: 2vw;
    appearance: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  section {
    flex-shrink: 0;
  }
}

.continent-statistics {
  flex-grow: 1;
  flex-shrink: 0;
  canvas {
    max-width: 100%;
    max-height: 65vh;
    aspect-ratio: 1;
  }
}

.country-statistics {
  @include flex-center;
  gap: 1rem;
  position: relative;
  height: 27.5vh;
  // background-color: green;
  .country-statistics__country {
    position: absolute;
    top: 1rem;
    margin: 0 auto;
    align-self: flex-start;
    justify-self: center;
    font-size: 3vw;
  }
  div {
    @include flex-center;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
    min-width: 14vw;
    margin-top: 2rem;
    padding: 1% 1%;
    font-size: 1.5vw;
    border: 2px solid #555;
    border-radius: 1rem;
  }
}
