$navbar-background: #249;
$navbar-color: #ddd;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#buffering {
  @include flex-center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  &.hidden {
    display: none;
  }
  img {
    transform: scale(1.7);
  }
}

nav {
  @include flex-center;
  height: 7.5vh;
  select {
    @include flex-center;
    flex-grow: 1;
    height: 100%;
    color: $navbar-color;
    background-color: $navbar-background;
    border-radius: 0;
    border-right: none;
    text-align: center;
    font-size: 2vw;
    appearance: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  section {
    flex-shrink: 0;
  }
}

.continent-statistics {
  flex-grow: 1;
  flex-shrink: 0;
  canvas {
    max-width: 100%;
    max-height: 65vh;
    aspect-ratio: 1;
  }
}

.country-statistics {
  @include flex-center;
  flex-direction: column;
  gap: 1rem;
  height: 27vh;
  .country-statistics__country {
    font-size: 4vmin;
  }
  .country-statistics__stats {
    @include flex-center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    div {
      @include flex-center;
      flex-direction: column;
      justify-content: space-around;
      gap: 3vh;
      min-width: 14vw;
      padding: 1% 1%;
      font-size: 1.5vw;
      border: 2px solid #555;
      border-radius: 1rem;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  .continent-statistics {
    canvas {
      max-height: 58vh;
    }
  }

  .country-statistics {
    gap: 5px;
    height: 34vh;
    .country-statistics__stats {
      gap: 5px;
      div {
        min-width: 28vw;
      }
    }
  }
}
