$navbar-background: #888;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

nav {
  @include flex-center;
  height: 7.5vh;
  select {
    @include flex-center;
    flex-grow: 1;
    height: 100%;
    border-radius: 0;
    border-right: none;
    background-color: $navbar-background;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  section {
    flex-shrink: 0;
  }
}

.continent-statistics {
  flex-grow: 1;
  flex-shrink: 0;
  canvas {
    max-width: 100%;
    max-height: 65vh;
    aspect-ratio: 1;
  }
}

.country-statistics {
  background-color: green;
  height: 27.5vh;
}
